body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Times, serif;
}

.contenedor {
  display: flex;
  align-items: center;
  font-size: 20px;
  /* flex-wrap: wrap; */
}

div[class*="item-"] {
    background: orange;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    flex-basis: 50px;
    flex-grow: 1;
}

div[class*="item-"]:nth-child(odd) {
    background: black;
    color: white;
}
div[class*="item-"]:nth-child(5) {
    background: red;
    color: white;
    flex-basis: 600px;
    flex-shrink: 5;
    flex-grow: 4;
}



